.landing{
    background-image: url(./images/bg2.jpeg);
    height:700px;
    width: 100%;
    opacity:80%;
    animation:infinite;
    color:black;

}
.logo{
    color:white;
    padding-left:7%;
    padding-top: 5%;
}
.intro{
    text-align: center;
    padding-top:20%;
    padding-left: 5%;
    color:whitesmoke;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 245, 218);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(7, 6, 6);
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:aqua;
  }
  .round{
    border-radius:60%;
    border-style: solid;
}